*{
    margin: 0;
    padding:0;
}

html{
/*     overflow: hidden; */
}


.navbar{
    display:flex;
    justify-content: center;
    position: sticky;
    top:0;
}

.logo{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.logo img{
    /* transform: translateX(-300px); */
    margin-right: 130%;
    width:50px;
    border:3px solid white;
    border-radius: 50px;
    margin-left: -14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.nav-list{
    width: 70%;
    display: flex;
}

.nav-list button{
    list-style: none;
    padding: 10px 10px;
    margin-top: 10px;
    border-color: #ffff;
    margin-bottom: 10px;
    text-decoration: none;
    background-color: rgb(15, 139, 247);
    color:white;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Ubuntu',sans-serif;
    margin-left: 80%;
}

#home{
    text-decoration: none;
    color:white;
    white-space: nowrap;
}

.background{
    background: rgba(0,0,0,0.7) url('friend.jpeg');
    background-size: cover;
    background-blend-mode: darken;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

.form-popup{
    position: fixed;
    top: 55%;
    left: 50%;
    max-width: 720px;
    width: 100%;
    padding-bottom: 50px;
    padding-right: 20px;
    transform: translate(-50%,-50%);
}

.form-box{
    display: flex;
}

.form-details{
    max-width: 330px;
}

.form-box .form-details{
    max-width: 330px;
    width: 100%;
    background: #717171;
    display: flex;
    padding: 0 10px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
}
.form-box h2{
    text-align: center;
    margin-bottom: 10px;
}
.form-box .form-content{
    width: 100%;
    padding: 35px;
}
.form-content img{
    width:30%;
    margin-left: 38%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}


form .input-field{
    margin: 3px;
    height: 50px;
    width: 40%;
    position: relative;
}
form .input-field input{
    width: 100%;
    height:100%;
    outline: none;
    padding: 0 15px;
    font-size: 0.95rem;
    border-radius: 3px;
    border: 1px solid #717171;
}

.input-field input:focus{
    border-color: rgb(8, 141, 236);
}

.input-field input:is(:focus, :valid){
    padding: 10px 15px 0;
}
form .input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    color: #717171;
    transform: translateY(-50%);
    transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ label {
    color: rgb(8, 141, 236);
    font-size: 0.75rem;
    transform: translateY(-120%);
}

.select-option select{
    margin-top: 20px;
    height: 50px;
    width: 39.3%;
    position: absolute;
    border-color: #717171;
    border-radius: 3px;
    padding: 0 15px;
    color: #717171;
}

.form-box a{
    color: rgb(8, 141, 236);
    text-decoration: none;
}

.form-box a:hover{
    text-decoration: underline;
}
.form-box :where(.forgot-pass, .policy-text){
    display: inline-flex;
    margin-top: 14px;
    font-size: 0.95rem;

}
form button{
    width:100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 14px ;
    border-radius: 50px;
    margin: 25px 0;
    color: #fff;
    cursor: pointer;
    background: rgb(8, 141, 236) ;
    transition: 0.2s ease;
}
form button:hover{
    background: rgb(8, 141, 236);
}
.form-box .bottom-link{
    text-align: center;
}

@media screen and (max-width: 500px){
    .nav-list{
        flex-direction: column;
        
    }
    .logo img{
        transform: translate(100%,60%);
    }

    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-in-out;
        height:447px;
    }
    form button{
        width:50%;
        outline: none;
        border: none;
        font-size: 1rem;
        font-weight: 600;
        padding: 14px ;
        border-radius: 50px;
        margin: 25px 0;
        color: #fff;
        cursor: pointer;
        background:orange ;
        transition: 0.2s ease;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    form button:hover{
        background: orange;
    }
    .h-nav-resp{
        height:72px;
    }
    .v-class-resp{
        display: block;
    }

    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align:center;
    }
    .form-content{
        display: flex;
        flex-direction: column;
    }
    .buttons{
        text-align:center;
    }
    .text-big{
        text-align:center;
    }
    form .input-field{
        margin: 10px;
        height: 50px;
        width: 90%;
        position: relative;
    }
    .form-content h2{
        transform: translateY(20%);
    }
    .input-field .select-option{
        margin:-20px 0;
    }
    .input-field select{
        width: 109%;
    }
}
